@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'ButlerLight';
  src: url('./fonts/ButlerLight.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Newsreader';
  src: url('./fonts/Newsreader.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NewsreaderItalic';
  src: url('./fonts/NewsreaderItalic.woff2') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-butler {
  font-family: 'ButlerLight';
}

.font-newsreader {
  font-family: 'Newsreader';
}

.font-newsreaderitalic {
  font-family: 'NewsreaderItalic';
}
